<h3>Your shopping bag:</h3>

<!-- ko foreach: selectedProducts() -->

<div class="row">
    <div class="col-xs-6">
        <span data-bind="text: $data.productName"></span>        
    </div>
    <div class="col-xs-6">
        <span data-bind="currency: $data.productPrice"></span>        
    </div>
    
</div>

<!-- /ko -->

<hr />

<div class="row">
    <div class="col-xs-6">
        <span>Total</span>        
    </div>
    <div class="col-xs-6">
        <span data-bind="currency: total"></span>       
    </div>
    
</div>