<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super hero booking form</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />  
    <link href="~/Content/icons-standalone.css" rel="stylesheet" />
    <script src="~/Source/Lib/modernizr-custom.js"></script>
</head>
<body>
   
    <div class="container">
        @RenderBody()    
    </div>
   
    <script src="~/Build/app.bundle.js"></script>
  
</body>
</html>